* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* NAVBAR */
.home-navbar {
  margin-top: 1em;
}
.home-nav {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-content: center;
}
.text-blue {
  color: #5584ac;
}
.text-grey {
  color: #959494;
}
.home-nav-logo a {
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 300;
}
.home-nav-logo img {
  margin-bottom: 0.2em;
}
#nav-list {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  font-weight: 400;
}
#nav-list li {
  list-style-type: none;
  color: #1abc9c;
  font-size: 1em;
  text-transform: uppercase;
}
#nav-list .margin-right {
  margin-right: 2em;
}
#nav-list a {
  text-decoration: none;
}
a.sign-in {
  color: white;
  background: #1abc9c;
  padding: 10px 40px;
  border-radius: 50px;
}
a.sign-in:hover {
  color: white;
}
/*HERO SECTION*/
#hero-section {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-left: 11.4%;
}
.hero-content {
  width: 80%;
  margin: auto;
}
.main-heading {
  font-size: 3.3em;
  color: #222;
  font-weight: 300;
  word-spacing: 0.1em;
  line-height: 1.3em;
}
#hero .sub-heading {
  width: 55%;
  color: #4f5665;
  font-weight: 300;
  font-size: 1.6em;
  margin-top: 10px;
}
.main-heading strong {
  font-weight: bold;
}
.heading-button {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#hero .start-learning {
  background: #0ed3aa;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 30px;
  box-shadow: 0px 12px 25px 0px rgb(0 199 157 / 35%);
  transition: 0.2s linear;
}
#hero .start-learning:hover {
  background: #11a687;
}

#hero .account {
  font-size: 1.4em;
  font-weight: 500;
  color: #4f5665;
  margin-top: 20px;
}
#hero .account:hover {
  text-decoration: underline;
}
#hero img {
  height: 640px;
  width: 640px;
  padding: 0 0 200px 0;
  width: 100%;
}
/*CARD SECTION*/
#cards-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 80%;
  margin: auto;
  min-height: 80vh;
}
.card {
  width: 485px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.card img {
  max-width: 80px;
  height: auto;
  margin: auto;
}
.img-container1 {
  height: 25vh;
  background: #204766;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.img-container2 {
  height: 25vh;
  background: #406185;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.img-container3 {
  height: 25vh;
  background: #263b4a;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.card .python {
  background: #204766;
  margin-top: 60px;
}
.card .c-plus {
  background: #406185;
  margin-top: 60px;
}
.card .java {
  background: #263b4a;
  margin-top: 45px;
}
.card-title {
  border: none;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px 0;
}
.card-text {
  font-size: 1.1em;
  font-weight: 300;
  color: #333333;
}
.card-body a {
  background: #1abc9c;
  padding: 10px 22px;
  border-radius: 100px;
  font-weight: 700;
  border: 2px solid #1abc9c;
  margin: 20px 0;
}
.card-body a:hover {
  background: #fff;
  color: #1abc9c;
  border: 2px solid #1abc9c;
}
.view-all {
  margin-top: 50px;
  text-decoration: none;
}
.view-all a {
  text-decoration: none;
  color: #1abc9c;
  font-size: 1.9em;
  font-weight: 700;
}
.view-all a:hover {
  color: #11a687;
}
/*ANYTIME SECTION*/
#anytime-section {
  background: #333333;
  height: 82.5vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 20vh;
}
.anytime-content .left-side {
  margin-top: 120px;
}
.anytime-heading {
  color: #fff;
  font-weight: 700;
  width: 70%;
  margin-bottom: 60px;
}
.anytime-content li {
  list-style-image: url("/images/check.svg");
  color: #fff;
}
.anytime-content h4 {
  margin-left: 7px;
  line-height: 1.7em;
}
.anytime-listing {
  margin-bottom: 60px;
}
.learners-area {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 80%;
}
.learners-num {
  color: #1abc9c;
  font-size: 2.4em;
}
.learner-title {
  color: #fff;
  font-size: 1.3em;
  margin-bottom: 100px;
}
.right-side img {
  position: relative;
  top: -95px;
  left: 50px;
}
/*REVIEW SECTION*/
#review-section {
  height: 75vh;
  text-align: center;
}
#review-review {
  position: relative;
  height: 75vh;
}
.review-image {
  background-repeat: no-repeat;
  position: absolute;
  left: 210px;
  z-index: -1;
}
.review-image img {
  position: absolute;
  top: 220px;
  z-index: -1;
}
.review-heading {
  font-size: 3.5em;
  margin-top: -30px;
  font-weight: 700;
}
.review-content .sub-heading {
  text-align: center;
  font-weight: 300;
  font-size: 2.3em;
  padding: 20px 0 45px 0;
  line-height: 1.3em;
}
.review-content .sub-heading strong {
  font-weight: 700;
  padding: 20px 0 45px 0;
}
.hr-line {
  width: 90px;
  background-color: #1abc9c;
  color: #1abc9c;
  margin: auto;
  margin-bottom: 50px;
  border: 1px solid #1abc9c;
}
.reviews {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 73px auto 0 auto;
}
.reviews .review-text {
  text-align: left;
  font-size: 1em;
  word-spacing: 0.2em;
}
.users {
  display: flex;
  margin-top: 45px;
}
.users h5 {
  margin-left: 15px;
  color: #999999;
  font-size: 1.1em;
}
.language {
  margin-right: 40px;
  font-weight: 300;
}
.language1 {
  margin-right: 50px;
  font-weight: 300;
}
.language2 {
  margin-right: 70px;
  font-weight: 300;
}
.reviews img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
/*BE A MEMBER*/
#be-a-member {
  height: 59vh;
  text-align: center;
  background: #1abc9c;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.member-content {
  margin-bottom: 50px;
}
.member-content h1 {
  font-size: 3.5em;
  color: #fff;
  font-weight: bold;
  padding: 50px 0;
}
.member-content a {
  font-size: 1.3em;
  color: #333333;
  font-weight: 800;
  background: #fff;
  border-radius: 5em;
  padding: 15px 30px;
  transition: 0.2s linear;
}
.member-content a:hover {
  color: #fff;
  background: #1abc9c;
  border: 2px solid #fff;
}
/*FOOTER*/
footer {
  height: 43vh;
  background: #3c464b;
}
.learn-to-play-cta {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  padding: 50px 0 10px 0;
  color: #fff;
}
.learn-to-play-cta h3 {
  font-weight: 300;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 0.1em;
}
.button-cta {
  padding-bottom: 1%;
}
.button-cta1 {
  margin: 0 30px 0 0;
}
.learn-to-play hr {
  width: 80%;
  margin: auto;
}
.footer-bottom {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 30px;
}
.address h4 {
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: 300;
}
.address p {
  margin-top: -35px;
  font-size: 0.8em;
}
.address img {
  background-color: #3c464b;
  margin-bottom: 5px;
}
address {
  color: #fff;
  margin-top: 2em;
}
.footer-li ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-start: 1;
  list-style-type: none;
  margin-right: 200px;
}
.footer-li li {
  margin-bottom: 0.4em;
}
.footer-li a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}
.footer-li a:hover {
  color: #fff;
}
.footer-bottom i {
  float: right;
  margin-right: 0.5em;
  color: #57b99e;
  margin-top: 20%;
  cursor: pointer;
}
/*MEDIA QUERY INDEX.HTML*/
@media only screen and (max-width: 1100px) {
  .home-navbar {
    height: 8vh;
  }
  .home-nav-logo {
    margin: 0 auto;
    font-size: 1em;
  }
  .home-nav-logo a {
    font-size: 1.6em;
  }
  .home-nav-logo img {
    height: 30px !important;
    width: 30px !important;
  }
  #home-nav-list {
    display: none;
  }
  #hero-section {
    width: 100%;
    margin: 0 auto;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
  }
  .hero-content a {
    font-size: 1.1em !important;
  }
  .main-heading {
    font-size: 2em;
    text-align: center;
  }
  h2.sub-heading {
    font-size: 01.1em !important;
    text-align: center;
  }
  .hero button {
    font-size: 1.2em !important;
    padding: 15px 30px;
    width: auto;
  }
  #hero {
    width: 100%;
    height: 80vh;
    padding: 50px 0;
  }
  #hero img {
    width: 100%;
    padding-bottom: 300px;
  }
}
@media (max-width: 700px) {
  /*#hero-content {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
  }
  .col-xl-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .left-side {
    margin: 0 !important;
  }*/
  .card-content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #cards-section {
    padding: 10px 0 50px 0;
  }
  .cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    border-radius: 5px;
  }

  /* ANYTIME */
  #anytime-section {
    height: 165vh;
    text-align: center;
    width: 100%;
    margin: 0;
  }
  .anytime-heading,
  .anytime-listing,
  .anytime-listing li,
  .learners-area {
    width: 90%;
    margin: 0 auto;
  }
  .anytime-heading {
    font-size: 2.7em;
    width: 80%;
    font-weight: bold;
  }
  .anytime-listing {
    margin: 60px 0;
  }
  .anytime-content h4 {
    margin-right: 7px;
    line-height: 1.5em;
  }
  .learners-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .l3 {
    margin-left: 170px;
  }
  .right-side img {
    width: 100%;
    position: relative;
    top: 120px;
    left: 0;
  }
  /* REVIEW SECTION */
  #review-section {
    height: 120vh;
    padding: 70px 0;
  }
  .review-heading {
    font-size: 2.8em;
    margin-top: 20px;
  }
  .review-content h2 {
    width: 90%;
    margin: 0 auto;
    font-size: 1.7em !important;
  }
  .review-image img {
    position: absolute;
    left: -180px;
    top: 300px;
    z-index: -1;
  }
  .users {
    margin: 30px 0 20px 0;
  }
  /* MEMBER SECTION */
  .member-content h1 {
    font-size: 1.8em;
  }
  .member-content a {
    font-size: 1.1em;
    padding: 10px 35px;
  }
  /* FOOTER */
  footer {
    height: 60vh;
  }
  footer li {
    display: none;
  }
  .footer-icons {
    display: none;
  }
}
/*COURSES PAGE*/
#courses-navbar {
  width: 63%;
  height: 7vh;
  /*padding: 0 20px;*/
}
.card-container {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.all-courses-section {
  background-color: #f2f5f7;
  height: 190vh;
}
.all-courses-content .card {
  width: 180px;
  height: auto;
  padding: 15px 0 0 0;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 7px 2px -2px gray;
  position: relative;
  top: 0;
  /*transition: top ease 0.1s;*/
}
.all-courses-content .card:hover {
  padding-bottom: -10px;
  top: -2px;
  box-shadow: 0 8px 2px -2px gray;
}
.all-courses-content img {
  border: 2px solid #dce2e5;
  border-radius: 50px;
  padding: 4px;
  width: 200px;
}
.all-courses-content h2 {
  padding: 80px 0 50px 0;
  font-size: 1.5em;
  font-weight: 700;
}
.all-courses-content .card-title {
  font-weight: 700;
  font-size: 1.1em;
}
.all-courses-content .card-text {
  font-weight: 400;
  font-size: 0.8em;
  padding: 20px 0 7px 0;
}
.card .move-down {
  /*padding-top: 25px;*/
  margin-top: 30px;
}
/*SIGN IN PAGE*/
#sign-in-nav {
  width: 63%;
  height: 7vh;
  margin: auto;
  /*padding: 0 20px;*/
}
#sign-in-hero {
  height: 100vh;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 110px;
}
#sign-in-hero h1 {
  font-size: 25px;
  color: #666;
  font-weight: 700;
}
#sign-in-hero p {
  padding: 15px 0;
  font-size: 1.2em;
  color: #666;
}
#sign-in-hero a {
  text-decoration: none;
  color: #1abc9c;
  font-weight: 500;
}
#sign-in-hero .sign-in-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.sign-in-buttons button {
  width: 27%;
  margin: auto;
  margin-bottom: 9px;
  display: flex;
  padding: 10px 15px;
}
.sign-in-buttons i {
  margin-right: 70px;
}
.sign-in-input {
  padding: 30px 0;
}
.sign-in-hr-line {
  margin: auto;
  color: #ccc;
  padding: 15px 0;
}
.sign-in-input form {
  display: flex;
  margin: auto;
  width: 27%;
  flex-direction: column;
}
.sign-in-input input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px 0;
}
.forgot-password {
  margin-left: 210px;
  margin-bottom: 300px;
}
.sign-in-button {
  padding: 15px 110px !important;
  margin: 15px 0;
  opacity: 0.3;
  background-color: #57b99e !important;
  border: 1px solid #cce9e1;
  pointer-events: none;
}
/* CODE PLAYGROUND PAGE | CODE PLAYGROUND HTML */
/* MENU MOBILE BAR | MOBILE BAR | MENU NAV BAR */
.pos-f-t {
  display: none;
}
/* MENU BAR | BAR | MENU NAV BAR */
#secHead {
  background-color: #3a464b !important;
}
#mainHeader {
  background-color: #3a464b;
  width: 55%;
  height: 50%;
  margin: 0 auto;
  padding: 9px 0;
}
#mainNav {
  background-color: #3a464b;
}
#mainHeader,
header a,
nav h1 {
  color: #fff;
}
header a.nav-link:hover,
#mainHeader a.signInNav:hover {
  color: #fff;
  background-color: #1abc9c;
  border-radius: 5px;
}
#mainHeader a.active {
  background-color: #1abc9c;
  border-radius: 5px;
}
a.nav-link {
  margin: 0 5px;
  padding: 5px 10px;
}
#mainHeader a.signInNav {
  background-color: #343d41;
  border-radius: 5px;
}
/* COURSES CARD LANGUAGE SECTION | LEARN COURSES CARDS  */
#courses img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-top: 40px;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
#courses p {
  font-size: 0.9rem;
}
#courses .courseBtn {
  display: grid;
  width: 50%;
  justify-self: end;
  margin-left: 150px;
  border-radius: 50px;
  background-color: #1abc9c;
  border: 1px solid #1abc9c;
}
#courses .courseBtn:hover {
  background-color: #17a68a;
  border: 1px solid #17a68a;
}
.numberContext span {
  color: #1abc9c;
  font-weight: 700;
  font-size: 1rem;
}
a.viewCourses {
  color: #1abc9c;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  font-weight: 500;
}
#courseBg {
  background: #f2f2f2;
}
#courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 35px;
  row-gap: 25px;
  width: 70%;
  margin: 0 auto;
  padding: 30px 0;
}
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
}
/* hr {
    margin-left: 0;
    margin-right: 0;
  } */
.courses {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.numbers {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 0;
}
.numberContext {
  display: flex;
  justify-content: center;
  padding: 0 30px 0 0;
}
/* LEARN PLAY STYING | LEARN PLAY SECTION | LEARN PLAY AREA  */
#learn {
  padding: 20px;
  text-align: center;
  min-height: auto;
  background: #3a464b;
  color: #fff;
}
/* FOOTER STYING | FOOTER SECTION | FOOTER AREA  */
#footerArea {
  background: #eaedf1;
  max-height: 200px;
  /* padding: 35px; */
}
#footerArea p {
  padding-top: 20px;
}
#footerArea p.company {
  font-size: 14.5px;
}
#footerArea i {
  background: #1abc9c;
  padding: 25px;
  color: #fff;
}
#footerArea i.fa-twitter {
  background: #29c0ac;
}

#footerArea i.fa-facebook-official {
  background: #24aa98;
}
#footerArea i.fa-google-plus-official {
  background: #219c8b;
}
#footerArea span.atSolo {
  background: #fff;
  padding: 35px 60px;
  font-weight: 500;
  color: #b4bbc2;
  font-size: 1.4rem;
}
#footerArea .disGrid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
#footerArea .disGrid a {
  text-decoration: none;
}
#footerArea .disGrid span:hover {
  color: #92989e;
}
.footer-content {
  display: flex;
  justify-content: space-around;
}
.code-footer {
  background: #eaedf1;
  width: 100%;
  padding: 35px;
}
#footerArea .footerUl li {
  list-style-type: none;
  color: #b4bbc2;
  font-size: 15.5px;
  font-weight: bold;
  line-height: 1.6rem;
}
#footerArea .footerUl a {
  text-decoration: none;
  font-weight: bold;
}
#footerArea .footerUl li:hover {
  color: #92989e;
}
#footerArea .blueText {
  color: #86a7c3;
}
#footerArea .greyText {
  color: #b2b2b4;
}
#footerArea h1 {
  color: #fff;
}
.footerUl div:first-child {
  font-size: 1rem;
  color: #383737 !important;
}
#footerArea .soloAddress {
  text-align: left;
}
#footerArea .soloAddress button {
  background-color: #1abc9c;
  border-radius: 5px;
  color: #fff;
  padding: 7px;
  font-size: 0.9rem;
  border: 1px solid #1abc9c;
}
#footerArea .soloAddress button:hover {
  background-color: #17a68a;
  border: 1px solid #17a68a;
}
#footerArea address {
  color: #b4bbc2;
  font-size: 14.5px;
  font-weight: 500;
}
#footerArea .copyright {
  text-align: center;
  font-size: 0.8rem;
  margin: 10px 0;
}
/*MOBILE RESPONSIVE AREA | MEDIA QUERIES | MOBILE */
@media only screen and (max-width: 968px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .headingText h1 {
    font-size: 1.8rem;
    width: 100%;
  }
  .headingText {
    width: 100%;
  }
  .headingText .middleText {
    font-size: 16px;
    font-weight: 700;
  }
  #mainHeader {
    width: 10%;
  }
  #courses {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 35px;
    row-gap: 25px;
    width: 95%;
    margin: 0 auto;
    padding: 30px 0;
    /* background: #F2F2F2; */
  }
}

@media only screen and (max-width: 760px) {
  .footer-content {
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    grid-gap: 30px;
  }
}
/*MOBILE AREA | MEDIA QUERIES | MOBILE */
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .pos-f-t {
    display: block;
  }
  .nav {
    display: grid;
    grid-template-rows: 1fr;
  }
  .mainNav {
    display: none;
  }
  #courses {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 35px;
    row-gap: 25px;
    width: 95%;
    margin: 0 auto;
    padding: 30px 0;
    /* background: #F2F2F2; */
  }
  .footer-content {
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    grid-gap: 30px;
  }
}

/* CODE PLAYGROUND AREA | CODE PLAYGROUND SECTION STYLING | CODE PLAYGROUND PAGE */
#coursesHeader a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9em;
  padding: 8px;
}
.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.navbar-brand p {
  color: #fff;
  font-size: 2.5em;
  font-weight: 200;
  margin: auto;
}
h4.card-title {
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
}
h5.card-title {
  display: flex;
  font-size: 1.6rem;
  font-weight: 100;
}
#mainCodePlayDiv {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
}
.mainCodePlayGrid {
  display: grid;
  grid-template-columns: 3fr 1.3fr;
  grid-gap: 20px;
  width: 75%;
  margin: 0 auto;
}
.card-header a.activeColor {
  color: #1abc9c;
}
.flexCard {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
#mainCodePlay input {
  width: 80%;
  padding: 3px 50px;
}
.searching {
  padding: 10px 15px;
  margin-top: 20px;
  background-color: #1abc9c;
}
.btnChange {
  background-color: #1abc9c;
  color: #fff;
  padding: 0 10px;
  font-weight: 700;
}
.flexCard span {
  background-color: #1abc9c;
  color: #fff;
  font-weight: 700;
}
.flexRightCard {
  display: flex;
  justify-content: space-around;
  padding: 10px 15px;
}
.cardCenter h5 {
  padding: 15px 15px 0 15px;
  font-size: 0.9rem;
  font-weight: 700;
}
.cardCenter a.adBtn {
  /* color: red;
    padding: 30px;
    margin: 40px; */
}
.cardCenter a.adBtn button {
  color: red;
  padding: 20px 40px;
  margin: 40px;
  border: 1px solid #1abc9c;
  border-radius: 5%;
  background-color: #1abc9c;
  color: #fff;
}
.cardCenter .web {
  font-size: 1.8rem;
}
.hotTodayText {
  font-size: 0.8rem;
}
.context {
  display: grid;
  grid-template-rows: 1fr;
  text-decoration: none;
  color: grey;
}
.context a {
  color: gray;
  padding: 0 0 5px 0;
  text-decoration: none;
  text-align: justify;
}
.context a span {
  margin: 0 0 0 10px;
  font-size: 0.8rem;
}
.context a span:hover {
  color: #1abc9c;
}
.cardBodyFlex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cardBodyFlex p {
  font-size: 0.7rem;
  margin: 0 10px 0 0;
}
.cardBodyFlex .titles p {
  color: #1abc9c;
  margin: 0 0 0 15px;
  font-size: 1rem;
}
.cardBodyFlex .titles .icon {
  color: lightgray;
  margin: 0 10px;
  font-size: 1.3rem;
}
.cardBodyFlex h5 {
  font-size: 0.8rem;
  margin: 0 0 0 15px;
  padding-bottom: 0.8em;
}
.cardBodyFlex img {
  height: 50px;
  width: 50px;
}
.cardBodyFlex img.circleThis {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.leftSide {
  display: flex;
  align-items: center;
}
.card-body p {
  font-weight: 100;
  font-size: 0.7rem;
}
.rightSide {
  display: flex;
  align-items: center;
}
.rightSide .dateText {
  color: lightgray;
}
.pagination {
  margin: auto;
  padding: 0 5px;
}
.pagination a {
  color: #999999;
  float: inline-end;
  padding: 1px 8px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #999999;
  margin: auto 0 auto 7px;
  display: flex;
  align-content: center;
}
.pagination a.active {
  background-color: #17a68a;
  color: white;
}
.pagination p {
  padding-top: 25px;
  margin-left: 7px;
}
/* DISCUSS PAGE | DISCUSS CSS | DISCUSS STYLING */
.main-text {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 8fr;
}
.main-text p {
  font-size: 0.8em;
  font-weight: 400;
}
.cardBodyFlex1 {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */

  padding-bottom: 2em;
}
.nums {
  margin-top: -20px;
}
.title-question {
  font-weight: 600;
  text-align: justify;
}
.cardBodyFlex1 .image {
  position: absolute;
  right: 10px;
}
.cardBodyFlex1 .btn-sm {
  float: left;
  padding: 2px 6px;
  background-color: #1abc9c;
  margin-right: 7px;
}
.cardBodyFlex1 .name {
  position: absolute;
  right: 80px;
  line-height: 0.1em;
}
.cardBodyFlex1 img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-bottom: 100px;
}
