* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* NAVBAR */
.home-navbar {
  margin-top: 1em;
}
.home-nav {
  display: flex;
  justify-content: space-around;
  height: 100px;
  align-content: center;
}
.text-blue {
  color: #5584ac;
}
.text-grey {
  color: #959494;
}
.home-nav-logo a {
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 300;
}
.home-nav-logo img {
  margin-bottom: 0.2em;
}
#nav-list {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  font-weight: 400;
}
#nav-list li {
  list-style-type: none;
  color: #1abc9c;
  font-size: 1em;
  text-transform: uppercase;
}
#nav-list .margin-right {
  margin-right: 2em;
}
#nav-list a {
  text-decoration: none;
}
a.sign-in {
  color: white;
  background: #1abc9c;
  padding: 10px 40px;
  border-radius: 50px;
}
a.sign-in:hover {
  color: white;
}
/*HERO SECTION*/
#hero-section {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 11.4%;
}
.hero-content {
  width: 80%;
  margin: auto;
}
.main-heading {
  font-size: 3.3em;
  color: #222;
  font-weight: 300;
  word-spacing: 0.1em;
  line-height: 1.3em;
}
#hero .sub-heading {
  width: 55%;
  color: #4f5665;
  font-weight: 300;
  font-size: 1.6em;
  margin-top: 10px;
}
.main-heading strong {
  font-weight: bold;
}
.heading-button {
  display: flex;
  flex-direction: column;
  width: 50%;
}
#hero .start-learning {
  background: #0ed3aa;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  font-size: 1.4em;
  font-weight: 500;
  margin-top: 30px;
  box-shadow: 0px 12px 25px 0px rgb(0 199 157 / 35%);
  transition: 0.2s linear;
}
#hero .start-learning:hover {
  background: #11a687;
}

#hero .account {
  font-size: 1.4em;
  font-weight: 500;
  color: #4f5665;
  margin-top: 20px;
}
#hero .account:hover {
  text-decoration: underline;
}
#hero img {
  height: 640px;
  width: 640px;
  padding-bottom: 200px;
}
/*CARD SECTION*/
#cards-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
  width: 80%;
  margin: auto;
  min-height: 80vh;
}
.card {
  width: 485px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.card img {
  max-width: 80px;
  height: auto;
  margin: auto;
}
.img-container1 {
  height: 25vh;
  background: #204766;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.img-container2 {
  height: 25vh;
  background: #406185;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.img-container3 {
  height: 25vh;
  background: #263b4a;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.card .python {
  background: #204766;
  margin-top: 60px;
}
.card .c-plus {
  background: #406185;
  margin-top: 60px;
}
.card .java {
  background: #263b4a;
  margin-top: 45px;
}
.card .title {
  border: none;
  font-size: 1.2em;
  font-weight: 700;
  margin: 10px 0;
}
.card-text {
  font-size: 1.1em;
  font-weight: 300;
  color: #333333;
}
.card-body a {
  background: #1abc9c;
  padding: 10px 22px;
  border-radius: 100px;
  font-weight: 700;
  border: 2px solid #1abc9c;
  margin: 20px 0;
}
.card-body a:hover {
  background: #fff;
  color: #1abc9c;
  border: 2px solid #1abc9c;
}
.view-all {
  margin-top: 50px;
  text-decoration: none;
}
.view-all a {
  text-decoration: none;
  color: #1abc9c;
  font-size: 1.9em;
  font-weight: 700;
}
.view-all a:hover {
  color: #11a687;
}
/*ANYTIME SECTION*/
#anytime-section {
  background: #333333;
  height: 82.5vh;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 20vh;
}
.anytime-content .left-side {
  margin-top: 120px;
}
.anytime-heading {
  color: #fff;
  font-weight: 700;
  width: 70%;
  margin-bottom: 60px;
}
.anytime-content li {
  list-style-image: url("/images/check.svg");
  color: #fff;
}
.anytime-content h4 {
  margin-left: 7px;
  line-height: 1.7em;
}
.anytime-listing {
  margin-bottom: 60px;
}
.learners-area {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 80%;
}
.learners-num {
  color: #1abc9c;
  font-size: 2.4em;
}
.learner-title {
  color: #fff;
  font-size: 1.3em;
  margin-bottom: 100px;
}
.right-side img {
  position: relative;
  top: -95px;
  left: 50px;
}
/*REVIEW SECTION*/
#review-section {
  height: 75vh;
  text-align: center;
}
#review-review {
  position: relative;
  height: 75vh;
}
.review-image {
  background-repeat: no-repeat;
  position: absolute;
  left: 210px;
  z-index: -1;
}
.review-image img {
  position: absolute;
  top: 220px;
  z-index: -1;
}
.review-heading {
  font-size: 3.5em;
  margin-top: -30px;
  font-weight: 700;
}
.review-content .sub-heading {
  text-align: center;
  font-weight: 300;
  font-size: 2.3em;
  padding: 20px 0 45px 0;
  line-height: 1.3em;
}
.review-content .sub-heading strong {
  font-weight: 700;
  padding: 20px 0 45px 0;
}
.hr-line {
  width: 90px;
  background-color: #1abc9c;
  color: #1abc9c;
  margin: auto;
  margin-bottom: 50px;
  border: 1px solid #1abc9c;
}
.reviews {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 73px auto 0 auto;
}
.reviews .review-text {
  text-align: left;
  font-size: 1em;
  word-spacing: 0.2em;
}
.users {
  display: flex;
  margin-top: 45px;
}
.users h5 {
  margin-left: 15px;
  color: #999999;
  font-size: 1.1em;
}
.language {
  margin-right: 40px;
  font-weight: 300;
}
.language1 {
  margin-right: 50px;
  font-weight: 300;
}
.language2 {
  margin-right: 70px;
  font-weight: 300;
}
.reviews img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
/*BE A MEMBER*/
#be-a-member {
  height: 59vh;
  text-align: center;
  background: #1abc9c;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.member-content {
  margin-bottom: 50px;
}
.member-content h1 {
  font-size: 3.5em;
  color: #fff;
  font-weight: bold;
  padding: 50px 0;
}
.member-content a {
  font-size: 1.3em;
  color: #333333;
  font-weight: 800;
  background: #fff;
  border-radius: 5em;
  padding: 15px 30px;
  transition: 0.2s linear;
}
.member-content a:hover {
  color: #fff;
  background: #1abc9c;
  border: 2px solid #fff;
}
/*FOOTER*/
footer {
  height: 43vh;
  background: #3c464b;
}
.learn-to-play-cta {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  padding: 50px 0 10px 0;
  color: #fff;
}
.learn-to-play-cta h3 {
  font-weight: 300;
  font-size: 1.4em;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 0.1em;
}
.button-cta {
  padding-bottom: 1%;
}
.button-cta1 {
  margin: 0 30px 0 0;
}
.learn-to-play hr {
  width: 80%;
  margin: auto;
}
.footer-bottom {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 30px;
}
.address h4 {
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: 300;
}
.address p {
  margin-top: -35px;
  font-size: 0.8em;
}
.address img {
  background-color: #3c464b;
  margin-bottom: 5px;
}
address {
  color: #fff;
  margin-top: 2em;
}
.footer-li ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-start: 1;
  list-style-type: none;
  margin-right: 200px;
}
.footer-li li {
  margin-bottom: 0.4em;
}
.footer-li a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
}
.footer-li a:hover {
  color: #fff;
}
.footer-bottom i {
  float: right;
  margin-right: 0.5em;
  color: #57b99e;
  margin-top: 20%;
  cursor: pointer;
}
/*MEDIA QUERY INDEX.HTML*/
@media only screen and (max-width: 700px) {
  .home-navbar {
    height: 8vh;
  }
  .home-nav-logo {
    margin: 0 auto;
    font-size: 1em;
  }
  .home-nav-logo a {
    font-size: 1.6em;
  }
  .home-nav-logo img {
    height: 30px !important;
    width: 30px !important;
  }
  #home-nav-list {
    display: none;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
  }
  .hero-content a {
    font-size: 1.1em !important;
  }
  .main-heading {
    font-size: 1.3em;
    margin-right: 80px;
  }
  h2.sub-heading {
    font-size: 01.1em !important;
  }
  .hero button {
    font-size: 1.2em !important;
  }
  #hero {
    width: 100%;
    height: 80vh;
    padding: 50px 0;
  }
  #hero img {
    width: 400px;
    padding-bottom: 300px;
  }
}
/*COURSES PAGE*/
#courses-navbar {
  width: 63%;
  height: 7vh;
  /*padding: 0 20px;*/
}
.card-container {
  width: 60%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.all-courses-section {
  background-color: #f2f5f7;
  height: 190vh;
}
.all-courses-content .card {
  width: 180px;
  height: auto;
  padding: 15px 0 0 0;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 7px 2px -2px gray;
  position: relative;
  top: 0;
  /*transition: top ease 0.1s;*/
}
.all-courses-content .card:hover {
  padding-bottom: -10px;
  top: -2px;
  box-shadow: 0 8px 2px -2px gray;
}
.all-courses-content img {
  border-radius: 50px;
}
.all-courses-content h2 {
  padding: 80px 0 50px 0;
  font-size: 1.5em;
  font-weight: 700;
}
.all-courses-content .card-title {
  font-weight: 700;
  font-size: 1.1em;
}
.all-courses-content .card-text {
  font-weight: 400;
  font-size: 0.8em;
  padding: 20px 0 7px 0;
}
.card .move-down {
  /*padding-top: 25px;*/
  margin-top: 30px;
}
/*SIGN IN PAGE*/
#sign-in-nav {
  width: 63%;
  height: 7vh;
  margin: auto;
  /*padding: 0 20px;*/
}
#sign-in-hero {
  height: 100vh;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 110px;
}
#sign-in-hero h1 {
  font-size: 25px;
  color: #666;
  font-weight: 700;
}
#sign-in-hero p {
  padding: 15px 0;
  font-size: 1.2em;
  color: #666;
}
#sign-in-hero a {
  text-decoration: none;
  color: #1abc9c;
  font-weight: 500;
}
#sign-in-hero .sign-in-buttons {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.sign-in-buttons button {
  width: 27%;
  margin: auto;
  margin-bottom: 9px;
  display: flex;
  padding: 10px 15px;
}
.sign-in-buttons i {
  margin-right: 70px;
}
.sign-in-input {
  padding: 30px 0;
}
.sign-in-hr-line {
  margin: auto;
  color: #ccc;
  padding: 15px 0;
}
.sign-in-input form {
  display: flex;
  margin: auto;
  width: 27%;
  flex-direction: column;
}
.sign-in-input input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin: 10px 0;
}
.forgot-password {
  margin-left: 210px;
  margin-bottom: 300px;
}
.sign-in-button {
  padding: 15px 110px !important;
  margin: 15px 0;
  opacity: 0.3;
  background-color: #57b99e !important;
  border: 1px solid #cce9e1;
  pointer-events: none;
}
